.detailParent{
   display: grid;
   grid-template-columns: 6fr 2fr;
   gap: 10px;
   height: 1700px;
   overflow: hidden;
   /* background-color: green; */
}
.detailParentLeftdiv {
    align-self: start;
  }

.detailParentRightdiv {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    padding-right: 10px; 
    box-sizing: content-box;
}


.customBorder{
    border: 1px solid rgba(0, 0, 0, 0.2);
}


.contactFooter {
    /* background-color: #333; */
    color: white;
    text-align: center;
    padding: 20px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100% !important;
    z-index: 1;
    background-color: white;
    /* padding: 10px 10px !important; */
  }

@media screen and (max-width: 576px) {
    .detailParent{
        grid-template-columns: 1fr;
        /* grid-template-rows: 1fr 1fr; */
        gap: 50px;
        height: auto;
        padding:20px 0 ;
      
    }

    .detailParentLeftdiv {
        /* background-color: green; */
      }


    .detailParentRightdiv {
        /* background-color: red; */
        height: auto;
        overflow-y: hidden;
        overflow-x: auto;
    }
}