.postButtonrd{
    background: linear-gradient(to left, #23E5DB, #3A77FF);
    width: 105px;
    padding: 10px 7px;
    border-radius: 20px;
    margin: 0 auto;
}
.postButtonrdwht{
    background: white;
    border-radius: 16px; 
    padding: 10px;
}

.testButton{
    border: 5px solid linear-gradient(to left, #23E5DB, #3A77FF);
    /* border-image: linear-gradient(to left, #23E5DB, #3A77FF) 1; 
    border-image-slice: 1;  */
    /* border-color: red; */
    padding: 10px;
    border-radius: 20px ;
}

.btnPlace{
    margin: auto;
}



.FilterUp{
    background-color: white !important;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    font-size: 20px;
    padding:20px 30px;
    box-shadow: 2px 1px 25px #E4E4E8;
}
.overfollowParent{
   overflow: hidden;
  
}
.tung{
    width: 100%;
    height: 100%;
    overflow-y: auto;
    padding-right: 10px; 
    box-sizing: content-box;
}

