.box{
    /* my-4 border-2 p-5 rounded-md grid grid-cols-6 gap-6 place-items-center */
    margin: 4px 0 4px 0;
    border: 2px solid rgba(0, 0, 0, 0.4);
    border-radius: 15px;
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-row-gap: 30px;
    place-items: center;
    /* width: fit-content; */

}

.box2{
    /* my-4 border-2 p-5 rounded-md grid grid-cols-6 gap-6 place-items-center */
    margin: 4px 0 4px 0;
    border: 2px solid rgba(0, 0, 0, 0.4);
    border-radius: 15px;
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-row-gap: 30px;
    place-items: center;
    /* width: fit-content; */

}
.itemBox1{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    /* border: 2px solid black; */
    width: 100px;
}
.iconDiv{
    /* w-[40px] h-[40px] bg-gray-400 rounded-full flex items-center justify-center */
    width: 40px;
    height: 40px;
    background-color: grey;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.itemBox2{
    /* flex flex-col items-center justify-center w-[40px] h-[40px] */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    justify-content: center;
    width: 100px;
    height: 40px;
    /* border: 1px solid black; */
}

.middle{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.phaseImageParent{
    overflow: hidden;
}
.phaseImage{
    z-index: 100;
    transition: all 0.5s ease-in-out;
}

.phaseImage:hover{
    z-index: 30;
    transform: scale(2);
}

