/* 

@font-face {
    font-family: 'Roboto';
    src: url('../../assets/fonts/light.ttf') format('truetype');
    font-weight: 300; 
}


.roboto {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
} */



.input{
    background-color: #dfdddd;
    color: black !important;
}
.errorBorder{
    border: 2px solid red;
}
/* #F3F3F3 */

.textSize{
    size: 35px;
}