.horizontal-slider{
    margin: 0 auto 0 auto;
    width: 100%;
    max-width: 500px;
    height: 20px;
    background-color: #D8E7FE;
    border-radius: 10px;
}
.horizontal-slider .example-track{
    top: -1px;
    height: 20px;
    border-radius: 10px;

}
.horizontal-slider .example-track-0{
   background-color: #D8E7FE;
}
.horizontal-slider .example-track-1{
    background-color: #5280E6;
}

.horizontal-slider .example-thumb{
    top: 5;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    line-height: 38px;
    font-size: 0;
    text-align: center;
    background-color: white;
    color: white;
    cursor: pointer;
    border: 5px solid #5280E6;
    box-sizing: border-box;
    margin-top: -10px;
    
}

.filterFooter{
   
    width: 100%;
    background-color: white;
    padding: 15px;
    margin-top: 20px;
    display: flex;
    gap: 10px;
    justify-content: center;
    position: sticky;
    bottom: 0;
    
}
.dag{
    border-bottom: 1px solid gray;
}



.numberInputUpDown::-webkit-inner-spin-button, 
.numberInputUpDown::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
.numberInputUpDown {
  -moz-appearance: textfield; /* Firefox */
}


@media screen and (max-width: 576px) {
    .filterFooter{
        display: flex;
        flex-direction: column-reverse;
       
    }
}