

   .Banner{
    margin: auto;
    border-radius: 15px;
    /* box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1); */
    height: 100%;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.1);
}
.yesSwiper{
    width:100%;
    height: 90%;
    /* background-color: red; */
    margin: auto
}
.swiper {
    width: 100%;
    height: 100%;
    /* background-color: green !important; */
  }

@media only screen and (max-width: 576px) {
    .Banner{
        margin: 0px;
        height: 160px;
        width: 100%;
    }
    .yesSwiper{
        width: 350px;
        height: 100%;
        background-color: red;
    }
    
}