/* Add this CSS to your stylesheet */
.hovered {
    transform: scale(2.2); /* Increase the scale factor as needed */
    transition: transform 0.3s ease; /* Add transition for smooth effect */
    position: absolute;
    top: 0;
    left: 0;
  }
  

  #jhinku{
    width: 750px !important;
    height: 750px !important;
    background-color: red;
  
  }

  .imageJhinku{
    width: 350px !important;
    height: 350px !important;
  }